.hero-section {
  background: #d9e7e8;
  padding: 80px 0;
}

/* MAIN BANNER */
.main-banner {
  position: relative;
}

.hero-img {
  width: 100%;
  border-radius: 10px;
}

.banner-overlay {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #fff;
}

.banner-overlay h2 {
  font-family: serif;
  font-size: 42px;
}

.banner-overlay p {
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.hero-btn {
  background: #5f7f86;
  border: none;
}

/* SIDE BANNERS */
.side-banner {
  position: relative;
  margin-bottom: 20px;
}

.side-banner img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.side-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 10px;
}

.side-overlay h4 {
  margin-bottom: 10px;
}

.explore-btn {
  background: #ffffff;
  color: #333;
  border: none;
  padding: 6px 18px;
  font-size: 14px;
}


/* AGE CATEGORY SECTION */
.age-section {
  padding: 70px 0;
  background: #fff;
}

.age-card {
  border: none;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.age-card:hover {
  transform: translateY(-5px);
}

.age-card img {
  height: 200px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.age-card .card-title {
  font-size: 16px;
  margin-bottom: 12px;
}

.age-btn {
  background: #5f7f86;
  border: none;
  padding: 6px 18px;
  font-size: 14px;
}
